
    <header class="myheader">
   
      <nav>
        <ul class="parent">
          <li>
            <a href="/new-article">
              Add new article
            </a>
          </li>
          <li id="dark" class="mode">change mode</li>
          <li><a href="/"> Home</a></li>
        </ul>
      </nav>
    </header>
