<!DOCTYPE html>
<html lang="ar">
  <%- include('./partials/head') %>
  <body id="body"  >
   
<div id="mydiv">

  <%- include('./partials/header') %>
</div>

    <main id="main">
<section>
<h1>Trending Articles</h1>

<div class="flex-container">



   <div class="flex-items">
    <h3></h3>
    <h3>subject</h3>
    <hr>
<p> article </p>
<a href="#">Read more</a>

</div>

</div>
</section>
<%- include('./partials/footer') %>
    </main>
  </body>
</html>
