* {
  margin: 0;

  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 1.1rem;
 }

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  }

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9e4673, #3d4a59);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #9e4673, #3d4a59, #9e4673);
}

/* for Firefox */
 html {scrollbar-color: #9e4673 #3d4a59;}
header {
  margin-bottom: 100px;

  background-color: #3d4a59;
  color: white;


 
}

.dark header{
 
  background-color: rgba(255, 131, 131, 0.08);
  border-bottom: 1px solid antiquewhite;
}


.dark header h1{
  background-color: transparent;
}


.dark  {
  background-color:#1b1818;
  color: #ffffff9c;

}

.dark main   h1{
  background-color: #9e4673;
}



header h1 {
  margin-bottom: 23px;
}

.parent {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.parent li a {
  color: #fff;
  text-decoration: none;

  margin-top: 6px;
  display: inline-block;
}

.parent li a:hover {
  border-bottom: 2px solid red;
  font-size: 20px;
}
 


.mode {
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  color: #fff;
  background-color: #3d4a59;
  border: 1.5px solid #ddd;
  cursor: pointer;
  font-size: 1.2rem;
    background-color:#1b1818;
  color: #ffffff9c;
   
}
body{
  background-color:#1b1818 !important;
  color: #ffffff9c !important;
}

.dark .mode {
  box-shadow: 0 0 10px #9e4673 ;
  background: #352f32;
}


.mode:hover {
  box-shadow: 0 0 10px #9e4673, 0 0 40px #9e4673, 0 0 80px #9e4673;
  background: #9e4673;
  border: none;
   
}






li {
  list-style-type: none;
  font-size: 18px;
}

h1 {
  text-align: center;
  padding: 10px 0;
  width: 34%;
  height: 53px;
  font-size: 17px;

  margin-left: auto;
  margin-right: auto;

  background-color: #3d4a59;
  color: #fff;
  border-radius: 17px;

  padding: 15px;
}

section {
  margin-bottom: 100px;
  box-shadow: 5px 5px 25px rgb(179, 172, 172);

  width: 97%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;

  padding: 45px 0;
}



.dark section {
  box-shadow: 5px 5px 25px rgb(124, 97, 97);
}





.left-section,
.right-section {
  width: 49%;

  text-align: center;
  margin-top: 60px;
}

.left-section h3 {
  font-size: 26px;
  margin: 20px 0;
}

.left-section p {
  font-size: 20px;
  margin: 25px 0;
}

.facebook,
.youtube {
  background-color: royalblue;
  color: #fff;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 6px;

  text-decoration: none;
}

.youtube {
  background-color: rgb(255, 62, 62);
}

.my-img {
  border-radius: 50%;
  width: 150px;

  border-right: 2px solid #ff8a00;
  border-left: 2px solid #ff8a00;
  border-bottom: 2px solid #e52e71;
  border-top: 2px solid #e52e71;
}

article h5 {
  font-size: 39px;
  font-weight: 500;
  font-family: "Sacramento", cursive;
  margin-top: 10px;
}

.para {
  font-size: 20px;
}

.flex {
  display: flex;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}

.design {
  background-color: #3d4a59;
  color: #fff;
  padding: 15px;
  text-align: center;

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-bottom: 0;
}


.dark .design {
  background-color: rgba(255, 131, 131, 0.08);
}




.follow {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 16px 0;
  text-align: center;
  margin: 0 auto 10px;
  border-top: 6px solid #3d4a59;

  opacity: 0.9;
  width: 99%;
}



.dark .follow {
  border-top: 6px solid #ffffff;

  box-shadow: 0 7px 93px 0 rgb(255 131 131 / 47%);
  background-color: rgba(255, 131, 131, 0.08);
}

.follow a {
  border: 1px solid #3d4a59;
  border-radius: 4px;
  padding: 4px 10px;
  text-decoration: none;
}


.dark .follow a {
  box-shadow: 0 0 10px #9e4673, 0 0 10px #9e4673, 0 0 0px #9e4673;
  border: 1px solid #fff;
  color: #fff;
}

.follow a:hover {
  padding: 5px 12px;
  background-color: rgb(16, 73, 243);
  color: #fff;
}


.dark .follow a:hover {
  background-color: #fc4364;
}


.mycard{
  margin-left: auto;
margin-right: auto;

margin-top: 50px;

border-radius: 5px;
}






.container{
  margin-top: 50px;
  background-color: #211e1e87;
  border-radius: 12px;
  width: 60%;
  text-align: center;
  padding: 20px 0;
}
.container p{
  font-size: 20px;
}

.active{
  display: block !important;
}

.bigger-contaier{
  background-color: rgb(50, 41, 41);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

/* flexbox  for trending post  */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: normal;
}
.flex-items{
  border: 1px solid black;
  margin: 5px;
}
.flex-items h3{
  text-align: center;
}
.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


.flex-items p{
  padding: 10px;
  text-align: center;

  margin: 5px;

}
.flex-items a{
  text-decoration: none;
  text-align: right;
  display: block;
  padding: 5px;
  margin-right: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}
.flex-items a:hover{
  color: #e52e71;
  font-size:large;
}

/* form section --------------------------------*/
input[type=text],input[type=number],input[type=email], select, textarea  {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: wheat;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #362929;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}